Repository ssec/polar2grid, pull requests merged in 2019-07, with the labels that each got.

#186 Add overlay.sh for putting VIIRS Active Fires on top of other imagery
  doc/source/utilscripts.rst
  polar2grid/add_coastlines.py
  setup.py
  swbundle/gtiff2mp4.sh
  swbundle/overlay.sh
Labels: component:utility, enhancement

#188 Add satellite name normalization for NOAA-NN and SNPP satellites
  polar2grid/crefl/crefl2swath.py
  polar2grid/readers/__init__.py
  polar2grid/viirs/io.py
Labels: bug, component:reader

#189 Update and fix automated tests with Jenkins
  build_environment.yml
  create_conda_software_bundle.sh
  doc/source/conf.py
  integration_tests/features/data_conversion.feature
  integration_tests/features/environment.py
  integration_tests/features/steps/data_conversion.py
  integration_tests/run.sh
  polar2grid/crefl/crefl2swath.py
  polar2grid/readers/__init__.py
  polar2grid/readers/viirs_edr_flood.py
  swbundle/p2g_py3_compare_geotiff.sh
  swbundle/p2g_py3_compare_netcdf.sh
Labels: component:build

#191 Use Git Tags to Enhance Jenkins Tests
  build_environment.yml
  create_conda_software_bundle.sh
  doc/source/readers/index.rst
  integration_tests/README.rst
  integration_tests/run.sh
  jenkins_environment.yml
  swbundle/p2g_compare_geotiff.sh
  swbundle/p2g_compare_netcdf.sh
Labels: component:build, enhancement
