Repository ssec/polar2grid, pull requests merged in 2021-08, with the labels that each got.

#354 Add proxy module for Satpy clavrx reader
  polar2grid/readers/clavrx.py
  polar2grid/writers/binary.py
  polar2grid/writers/geotiff.py
Labels: enhancement, component:reader

#355 Viirs l1b
  etc/enhancements/viirs.yaml
  polar2grid/readers/viirs_l1b.py
  polar2grid/readers/viirs_sdr.py
Labels: enhancement, component:reader

#358 VIRR (fy3b, fy3c) Level 1 B wrapper
  polar2grid/glue.py
  polar2grid/readers/virr_l1b.py
  polar2grid/writers/binary.py
  polar2grid/writers/geotiff.py
Labels: enhancement, component:reader

#359 Port Mersi-2 L1b reader for Polar2Grid 3.0
  polar2grid/glue.py
  polar2grid/readers/mersi2_l1b.py
  polar2grid/writers/geotiff.py
Labels: enhancement, component:reader

#365 Switch geotiff writer to tile by default
  polar2grid/core/script_utils.py
  polar2grid/writers/geotiff.py
Labels: enhancement, component:writer

#367 Use mask_and_scale in comparison of netcdf
  etc/resampling.yaml
  polar2grid/compare.py
Labels: enhancement, component:utility

#368 Add --extra-config-path glue option and add_coastlines optional caching
  doc/source/examples/acspo_example.rst
  doc/source/examples/amsr2_example.rst
  integration_tests/features/environment.py
  integration_tests/features/geo2grid.feature
  integration_tests/features/polar2grid.feature
  integration_tests/features/steps/compare_images.py
  integration_tests/features/utilities.feature
  integration_tests/run.sh
  polar2grid/add_coastlines.py
  polar2grid/add_colormap.py
  polar2grid/compare.py
  polar2grid/glue.py
  setup.py
  swbundle/add_coastlines.sh
  swbundle/add_colormap.sh
  swbundle/example_enhancements/amsr2_png/enhancements/generic.yaml
Labels: enhancement

#369 Switch to rasterio in add_colormap.py script
  integration_tests/run.sh
  polar2grid/add_colormap.py
Labels: component:utility

#370 Port AVHRR L1b AAPP (avhrr) reader to Polar2Grid 3.0
  etc/resampling.yaml
  polar2grid/avhrr/__init__.py
  polar2grid/avhrr/__main__.py
  polar2grid/avhrr/avhrr2swath.py
  polar2grid/avhrr/readers.py
  polar2grid/glue.py
  polar2grid/readers/avhrr_l1b_aapp.py
Labels: enhancement, component:reader

#371 Fix various sphinx documentation warnings and errors
  doc/source/complex_composites/polar2grid_composites.rst
  doc/source/compositors.rst
  doc/source/conf.py
  doc/source/design_overview.rst
  doc/source/dev_guide/adding_readers.rst
  doc/source/dev_guide/dev_env.rst
  doc/source/dev_guide/index.rst
  doc/source/doi_role.py
  doc/source/glossary.rst
  doc/source/index.rst
  doc/source/readers/abi_l1b.rst
  doc/source/readers/acspo.rst
  doc/source/readers/ahi_hrit.rst
  doc/source/readers/ahi_hsd.rst
  doc/source/readers/amsr2_l1b.rst
  doc/source/readers/avhrr.rst
  doc/source/readers/clavrx.rst
  doc/source/readers/crefl.rst
  doc/source/readers/drrtv.rst
  doc/source/readers/index.rst
  doc/source/readers/mersi2_l1b.rst
  doc/source/readers/mirs.rst
  doc/source/readers/modis.rst
  doc/source/readers/nucaps.rst
  doc/source/readers/viirs_edr_active_fires.rst
  doc/source/readers/viirs_edr_flood.rst
  doc/source/readers/viirs_l1b.rst
  doc/source/readers/viirs_sdr.rst
  doc/source/readers/virr_l1b.rst
  doc/source/remapping.rst
  doc/source/remapping_polar.rst
  doc/source/writers/awips_netcdf.rst
  doc/source/writers/awips_tiled.rst
  doc/source/writers/binary.rst
  doc/source/writers/geotiff.rst
  doc/source/writers/gtiff.rst
  doc/source/writers/hdf5.rst
  doc/source/writers/index.rst
  doc/source/writers/ninjo.rst
  polar2grid/core/__init__.py
  polar2grid/core/containers.py
  polar2grid/core/fbf.py
  polar2grid/core/histogram.py
  polar2grid/glue.py
  polar2grid/readers/abi_l1b.py
  polar2grid/readers/ahi_hrit.py
  polar2grid/readers/ahi_hsd.py
  polar2grid/readers/avhrr_l1b_aapp.py
  polar2grid/readers/clavrx.py
  polar2grid/readers/mirs.py
  polar2grid/readers/viirs_sdr.py
  polar2grid/readers/virr_l1b.py
Labels: bug, documentation

#372 Port VIIRS EDR Active Fires and Flood readers for Polar2Grid 3.0
  doc/source/readers/viirs_edr_active_fires.rst
  doc/source/readers/viirs_edr_flood.rst
  etc/resampling.yaml
  polar2grid/readers/viirs_edr_active_fires.py
  polar2grid/readers/viirs_edr_flood.py
  polar2grid/resample/_resample_scene.py
Labels: enhancement, component:reader

#373 Port AMSR2 L1B and AMSR L2 GAASP readers for Polar2Grid 3.0
  doc/source/readers/amsr2_l1b.rst
  polar2grid/readers/amsr2_l1b.py
  polar2grid/readers/amsr2_l2_gaasp.py
Labels: enhancement, component:reader

#374 Port ACSPO SST reader for Polar2Grid 3.0
  doc/source/readers/acspo.rst
  etc/resampling.yaml
  polar2grid/readers/acspo.py
Labels: enhancement, component:reader

#376 Fix left over copy/paste in resampling.yaml
  etc/resampling.yaml
  polar2grid/tests/test_configs.py
Labels: bug

#377 Add geotiff colormap comparison to compare scripts
  polar2grid/compare.py
Labels: enhancement, component:utility
