Repository ssec/polar2grid, pull requests merged in 2021-02, with the labels that each got.

#304 Add MiRS reader
  polar2grid/glue.py
  polar2grid/readers/mirs.py
Labels: component:reader, enhancement

#305 Add ability to configure resampling settings in YAML
  .github/workflows/ci.yaml
  etc/composites/viirs.yaml
  etc/enhancements/viirs.yaml
  etc/resampling.yaml
  polar2grid/composites/__init__.py
  polar2grid/composites/enhanced.py
  polar2grid/glue.py
  polar2grid/glue_legacy.py
  polar2grid/readers/viirs_sdr.py
  polar2grid/remap/__init__.py
  polar2grid/remap/__main__.py
  polar2grid/remap/remap.py
  polar2grid/resample/__init__.py
  polar2grid/resample/_resample_scene.py
  polar2grid/resample/resample_decisions.py
  swbundle/env.sh
Labels: component:remap, enhancement

#306 Fix areas to resample to always being the default area
  polar2grid/resample/_resample_scene.py
Labels: bug

#308 Add day/night filtering using SZA
  RELEASING.md
  etc/composites/viirs.yaml
  etc/enhancements/generic.yaml
  polar2grid/enhancements/__init__.py
  polar2grid/enhancements/shared.py
  polar2grid/filters/__init__.py
  polar2grid/filters/_filter_scene.py
  polar2grid/filters/day_night.py
  polar2grid/glue.py
  polar2grid/readers/viirs_sdr.py
  polar2grid/resample/_resample_scene.py
Labels: enhancement

#310 Change Polar2Grid to default to filtering day and night products
  polar2grid/glue.py
Labels: bug, executive order
