Repository ssec/polar2grid, pull requests merged in 2025-04, with the labels that each got.

#745 Add more VIIRS EDR products
  .github/workflows/ci.yaml
  doc/Makefile
  doc/source/conf.py
  doc/source/toctree_filter.py
  jenkins_environment.yml
  polar2grid/enhancements/viirs.py
  polar2grid/etc/enhancements/viirs.yaml
  polar2grid/etc/resampling.yaml
  polar2grid/readers/viirs_edr.py
  polar2grid/resample/resample_decisions.py
  pyproject.toml
Labels: enhancement, component:reader

#747 Add Phase and PRES to 'abi_l2_nc' reader
  polar2grid/etc/enhancements/abi.yaml
  polar2grid/readers/abi_l2_nc.py
  polar2grid/resample/resample_decisions.py
  polar2grid/utils/config.py
Labels: enhancement, component:reader

#748 Add updated AMSR2 GAASP enhancements
  polar2grid/etc/enhancements/amsr2.yaml
  polar2grid/etc/enhancements/generic.yaml
Labels: enhancement, component:reader, component:enhancement

#731 Adds support for the MiRS Snow Grain Size product
  polar2grid/etc/enhancements/generic.yaml
  polar2grid/etc/writers/awips_tiled.yaml
  polar2grid/readers/mirs.py
Labels: enhancement, component:reader

#749 Change binary writer to use numpy-style dtype names
  NEWS.rst
  polar2grid/core/containers.py
  polar2grid/core/dtype.py
  polar2grid/tests/test_dtype.py
  polar2grid/writers/binary.py
Labels: enhancement, component:writer, code cleanup

#750 Log deprecation warning when legacy '.conf' grid configurations are used
  NEWS.rst
  polar2grid/glue.py
  polar2grid/resample/_resample_scene.py
Labels: bug, code cleanup
